/* #post-form{
    display: none;
}
/* #board{
    display: none;
} */ 
 body{
    background-color: black;
    color: white;
 }
 
 .post-container{
    background-color: rgb(43, 43, 41);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    
 }